# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,tsx}]
charset = utf-8
quote_type = single # 强制单引号
# 新增尾逗号配置
insert_final_comma = true
# indent_style = space
indent_size = 2
# 移除无效的 insert_final_comma 配置（EditorConfig 不原生支持该属性）
[*.{js,ts,tsx}]
charset = utf-8
quote_type = single
# indent_style = space
indent_size = 2


# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
